html{
    width: 99.009vw;
    margin: 0px;
}
body{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-row: repeat(auto, 25vh);
    /* flex-direction: column; */
    align-items: center;
    font-family: Gill sans ultra,Georgia, cursive; 
    /* backdrop-filter: url(commonfilters.svg#filter);
    backdrop-filter: blur(10px);     */
    width:100%;
    height: 100%;
}
.supContainer{
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    width: 99.1%;
    align-items: center;
}
/* .supContainer header{
    background-color:#2382f7 ;
    width: 100%;
    color: #ffffff;
    height: 100px;
    align-content: center;
    justify-items: center;
    border-radius: 25px;
    margin: 0px;
} */
.supContainer header h1{
    font-size: 50px;
    margin: 0  ;
}

header{
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    color: #000;
    height: 100px;
    align-content: center;
    justify-items: center;
    border-radius: 25px;
    margin: 0px;
    z-index: 1;


}
nav{
    margin: 10px 0px 47px 0px;
    background-color: #2382f7;
    height: 6.5vh;
    width: 101vw;

    z-index: 1;
}
nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    grid-row: 3  ;
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(auto, 25vh);
    justify-content: space-between;
    z-index: 1;
}
.container img{
    width: 20vw;
    height: 20vh;
}

.containerLeft{
    grid-column: 1 / -2;
    margin: 0px 1vw 0px 0px;
}
.containerLeft article{
    margin: 0px 0px 1vh 0px;
}
.containerLeft h1{
    padding: 10px;
}
.containerLeft img{
    width: 20vw;
    height: 20vh;
    
}
.containerRight{
    grid-column: 2/-1;
    margin: 0px 1vw 1vh 0px;
}
.containerRight article{
    margin: 0px 0px 1vh 0px;
}
.containerRight h1{
    padding: 10px;
}
.containerRight img{
    width: 20vw;
    height: 20vh;

}

.containerDescription{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.containerTitle{
    background-color: #2382f7;
    height: 6vh;
}
.containerTitle h1{
    margin: 0px;
}
.containerText{
    padding: 10px;
}
.containerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.8; /* opcional: deixa a imagem mais suave para o texto ser legível */
    overflow: hidden;
    z-index: 0;
}

.containerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}